<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    <!-- Bootstrap CSS -->
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        .error-container {
            text-align: center;
            margin-top: 5%;
        }
        .error-message {
            margin-top: 20px;
        }
    </style>
</head>
<body>
<div class="container error-container">
    <div class="alert alert-danger" role="alert">
        <h4 class="alert-heading">Ocurrió un error</h4>
        <p class="error-message" th:text="${errorMessage}">Error message goes here</p>
        <hr>
        <p class="mb-0">Por favor, intenta regresar a la página principal.</p>
        <a class="btn btn-primary mt-3" href="/" role="button">Regresar a la página principal</a>
    </div>
</div>

<!-- Bootstrap JS and dependencies -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>