<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:readonlyth="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>File Log Search</title>
    <link rel="icon" type="image/x-icon" href="/favicon.ico">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script>
        // Función para buscar por palabra clave
        function searchByKeyword() {
            document.getElementById("fileLogForm").action = "/log/files/keyword";
            document.getElementById("fileLogForm").submit();
        }

        // Función para buscar por fecha
        function searchByDate() {
            document.getElementById("fileLogForm").action = "/log/files/bydate";
            document.getElementById("fileLogForm").submit();
        }

        // Función para buscar por palabra clave y fecha
        function searchByKeywordAndDate() {
            document.getElementById("fileLogForm").action = "/log/files/keyword-date";
            document.getElementById("fileLogForm").submit();
        }
    </script>
</head>
<body>
<div class="container mt-5">
    <h1 class="text-center">File Log Search</h1>

    <!-- Formulario único -->
    <form id="fileLogForm" method="post">
        <div class="form-group">
            <label for="file">Seleccione un archivo</label>
            <select id="file" name="file" class="form-control">
                <option th:each="file : ${files}" th:value="${file}" th:text="${file}"></option>
            </select>
        </div>
        <div class="form-group">
            <label for="keyword">Palabra clave</label>
            <input type="text" id="keyword" name="keyword" class="form-control" placeholder="Ingrese palabra clave">
        </div>
        <div class="form-group">
            <label for="date">Fecha (Formato: M/dd/AA HH:MM:SS:sss Obligatorio los milisegundos)</label>
            <input type="text" id="date" name="date" class="form-control" placeholder="M/dd/AA HH:MM:SS:sss">
        </div>
        <div class="form-group text-center">
            <button type="button" class="btn btn-outline-primary" onclick="searchByKeyword()">Buscar por palabra clave</button>
            <button type="button" class="btn btn-outline-primary" onclick="searchByDate()">Buscar por fecha</button>
            <button type="button" class="btn btn-outline-primary" onclick="searchByKeywordAndDate()">Buscar por palabra clave y fecha</button>
            <button type="reset" class="btn btn-outline-danger">Limpiar formulario</button>
        </div>
    </form>
    <br><br>
    <button class="btn btn-outline-secondary mr-2" onclick="window.history.back();">Regresar</button>
</div>

</body>
</html>