<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultados de la Búsqueda</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1 class="mt-4">Resultados de la Búsqueda</h1>

    <textarea class="form-control" rows="20" readonly th:text="${searchResults}"></textarea>

    <div class="mt-4">
        <button type="button" class="btn btn-secondary" onclick="window.location.href='/websphare/log/files/'">Volver</button>
        <button type="button" class="btn btn-info" onclick="printResults()">Imprimir</button>
    </div>
</div>

<script>
    function printResults() {
        window.print();
    }
</script>
</body>
</html>